.template-dialog {
    color: #fff;
    padding: 16px 20px 20px;
    border: none;

    .mat-mdc-dialog-title{
        display: flex;
        color: #464646;
        font-size: 14px;
        font-weight: 700;
        font-family: Proxima-Nova-Regular;
        letter-spacing: normal;
    }

    .mat-mdc-button-base+.mat-mdc-button-base{
        margin-left: 0px;
        padding-left: 0px;
    }
}
