.template-dialog, .section-dialog, 
.template-topic-dialog, .user-dialog, 
.location-dialog, .team-dialog, .role-dialog{
    color: #464646;
    padding: 10px 5px 15px 10px;
    border: none;
    letter-spacing: normal;

    .mat-mdc-dialog-content{
        width: 400px;
        margin: 30px auto;

        .mat-mdc-form-field{
            width: 100%;
        }

        .vertical-center {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            column-gap: 15px;
        }

        .full-width-row {
            width: 100%;
        }

        .full-width-row .mat-form-field-underline {
            display: none;
        }

        textarea{
            resize: none;
            line-height: 4ch;
            background-image: linear-gradient(transparent, transparent calc(4ch - 1px), #464646 0px);
            background-size: 100% 4ch;
        }

        textarea:focus{
            line-height: 4ch;
            background-image: linear-gradient(transparent, transparent calc(4ch - 1px), #0096C8 0px);
            background-size: 100% 4ch;
        }

        .mat-form-field-appearance-outline.mat-form-field-disabled, ::ng-deep .mat-form-field-outline {
            opacity: 0;
        }

    }

    @media (min-width: 768px) {
        .mat-mdc-dialog-content {
            width: 600px;
            margin: 30px auto;
        }
    }
    .header{
        display: flex;
        justify-content: space-between;
    }

     .grid-layout-custom{
        width: auto;
        min-width: 20rem;
        max-width: 25rem;
    } 
 
    .dialog-header{
        display: inline-flex;
        align-items: center; 
    }

    .mat-mdc-dialog-content{

        .vertical-center {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            column-gap: 15px;
        }

        .full-width-row {
            width: 100%;
        }

        

        .full-width-row .mdc-text-field--filled .mdc-line-ripple::before,
        .mdc-text-field--filled .mdc-line-ripple::after {
          border-bottom: 0px !important;
        }

        textarea{
            resize: none;
            line-height: 4ch;
            background-image: linear-gradient(transparent, transparent calc(4ch - 1px), #464646 0px);
            background-size: 100% 4ch;
        }

        textarea:focus{
            line-height: 4ch;
            background-image: linear-gradient(transparent, transparent calc(4ch - 1px), #0096C8 0px);
            background-size: 100% 4ch;
        }

        .mat-form-field-appearance-outline.mat-form-field-disabled, ::ng-deep .mat-form-field-outline {
            opacity: 0;
        }

    }

    .header{
        display: flex;
        justify-content: space-between;
    }

     .grid-layout-custom{
        width: auto;
        min-width: 20rem;
        max-width: 25rem;
    } 
 
    .dialog-header{
        display: inline-flex;
        align-items: center; 
    }

    .mat-mdc-dialog-title{
        display: inline-block;
        color: #464646;
        font-size: 16px;
        letter-spacing: normal;
        line-height: normal;
    }

    .mat-mdc-button-persistent-ripple::before {
        background-color: white !important;
    }

    .mat-mdc-button::before {
        background-color: white !important;
    }

    .mat-mdc-button:hover{
        opacity: 0.5;
    }

    .close-btn{
        background-image: url("/assets/img/close_dark.svg");
        background-repeat: no-repeat;
        background-position: center;
        letter-spacing: normal;
        cursor: pointer;
        height: 10px;
        width: 10px;
    }

    .save-btn{
        color:#464646;
        background-color: white;
        font-size: 14px;
        letter-spacing: normal;
    }

    .save-btn:hover{
        opacity: .55;
        color: #0096C8 !important;
        -webkit-text-stroke-width: .2px;
        -webkit-text-stroke-color: #0096C8;
        opacity: .55;
        color: #0096C8 !important;
        -webkit-text-stroke-width: .2px;
        -webkit-text-stroke-color: #0096C8;
    }

    .save-btn:disabled{
        opacity: .55;
        cursor: not-allowed;
    }


    .mat-mdc-form-field-focus-overlay, .mdc-text-field--filled:not(.mdc-text-field--disabled) { 
        background-color: white !important; 
    } 
 
    h4{
        padding-left: 15px;
        color: #464646;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: normal;
    }

    p{
        padding-left: 15px;
        color: #464646;
        font-size: 16px;
        letter-spacing: normal;
    }

    .mat-mdc-dialog-actions{
        padding: 10px !important;

        .mat-mdc-button-base{
            margin: 0px !important;
            padding: 0px !important;
            background-color: white !important; 
        }
    }

    .mdc-button{
        justify-content: right;
        min-width: 25px;
        padding: 0px;
        gap: 10px;
    }
}

.mat-mdc-dialog-container {
    width: fit-content;
    height: fit-content;

    .mat-mdc-dialog-title{
        font-family: "Proxima-Nova-Regular" !important;
        font-size: 16px;
        font-weight: 700;
    }
}

@media (min-width: 768px) {
    .mat-mdc-dialog-container {
        width: 600px;
        margin: 30px auto;
    }
}


.mat-mdc-dialog-container {
    position: relative;
    width: auto;
    margin: 10px;
}

.mat-form-field-wrapper{
    outline: none;
 }
.mat-mdc-dialog-container {
    width: fit-content;
    height: fit-content;

    .mat-mdc-dialog-title{
        font-family: "Proxima-Nova-Regular" !important;
        font-size: 16px;
        font-weight: 700;
    }
}

@media (min-width: 768px) {
    .mat-mdc-dialog-container {
        width: 600px;
        margin: 30px auto;
    }
}


.mat-mdc-dialog-container {
    position: relative;
    width: auto;
    margin: 10px;
}

.mat-form-field-wrapper{
    outline: none;
 }
