.container {

    .child-tabs {

        .button-row {
            display: inline-block;
            margin-left: 8px;
        }

        .select-template {
            display: inline-block;
        }

        .mat-mdc-tab-label-container {
            flex-grow: 0;
            background: none;
            border-top: none;
        }

        .mat-select-arrow {
            transition: transform 0.3s ease;
        }

        .mat-select-panel-done-animating .mat-select-arrow {
            transform: rotate(180deg);
        }

        .btnTemplate {
            white-space: nowrap;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: white;
            border: 1px solid #0096C8;
            color: #333;
            vertical-align: bottom;
        }

        .btnTemplate:hover {
            color: white;
            background: #0096C8;
        }

        .btnEditAddTemplate {
            white-space: nowrap;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: white;
            border: 1px solid #0096C8;
            color: #333;
            vertical-align: bottom;
            margin-left:10px;
        }

        .btnEditAddTemplate:hover {
            color: white;
            background: #0096C8;
        }
    }
}
