.container {
    .child-tabs {

        .button-row {
            display: inline-block;
            margin-left: 8px;
        }

        .mat-mdc-tab-body-wrapper{
            margin-top: 15px;
          }

        .select-template {
            display: inline-block;

            mat-form-field .mdc-text-field--outlined .mdc-notched-outline { 
                border-radius: 5px;
                background-color: white;
              }

              .mat-form-field-appearance-outline {
                padding-top: 6px;
              }

              .mat-mdc-form-field-flex {
                height: 45px;
              }
              
              :host mat-select ::ng-deep .mat-select-arrow {
                transform: rotate(-90deg);
               }
                
                ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
                  transform: rotate(0deg);
                }
        }

        .mat-mdc-tab-label-container {
            flex-grow: 0;
            background: none;
            border-top: none;
        }

        .btnTemplate {
            white-space: nowrap;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: white;
            border: 1px solid #0096C8;
            color: #333;
            vertical-align: bottom;
        }

        .btnTemplate:hover {
            color: white;
            background: #0096C8;
        }

        .btnEditAddTemplate {
            white-space: nowrap;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: white;
            border: 1px solid #0096C8;
            color: #333;
            vertical-align: bottom;
            margin-left:10px;
        }

        .btnEditAddTemplate:hover {
            color: white;
            background: #0096C8;
        }
    }
}
