<div class="container handover-templates">

    <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false"
                   mat-align-tabs="start" class="child-tabs"
                   [selectedIndex]="selectedIndex" (selectedTabChange)="onTabChanged($event);">

        <mat-tab label="Handover Templates">
            <div class="select-template">
                <mat-form-field appearance="outline">
                    <mat-select  formControlName="name" 
                     (selectionChange)="onSelectTemplate($event)" placeholder="Select a Template">
                        <mat-option>None</mat-option>
                        @for (template of templates; track template) {
                            <mat-option [value]="template">{{template.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="button-row">
                <button mat-stroked-button class="btnEditAddTemplate"
                        (click)="createTemplateDialog()">
                    New
                </button>
                @if (isSelectedTemplate == true){
                    <app-modal-popup></app-modal-popup>
                    @if(!isHandoverTemplate){
                        <button mat-stroked-button class="btnEditAddTemplate" (click)="editTemplateDialog(selectedTemplate)">Edit</button>
                        <button mat-stroked-button class="btnDeleteTemplate" (click)="deleteTemplateDialog(selectedTemplate)">Delete</button>
                    }
                    <button mat-stroked-button class="btnCopyTemplate" (click)="copyTemplateDialog(selectedTemplate)">Copy this Template</button>
                }
                
            </div>
            @if(selectedTemplate != null && isSelectedTemplate == true){
                <app-template  [selectedTemplate]="selectedTemplate"></app-template>
            } 
        </mat-tab>

        <mat-tab label="Topics"><app-template-topic></app-template-topic></mat-tab>
    </mat-tab-group>
</div>