<div mat-dialog-content>
    <form [formGroup]="accountForm">

        <div class="modal-body">

            <div class="row">
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                    <div class="row padding-right-15">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Version Details</mat-label>
                                <input matInput formControlName="version" readonly>
                            </mat-form-field>
                        </div>
                        
                    </div>
                </div>

                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                    <div class="row padding-right-15">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Plan Type</mat-label>
                                <input matInput formControlName="planType" readonly>
                            </mat-form-field>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                    <div class="row padding-right-15">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <mat-form-field>
                                <mat-label>Purchase Date</mat-label>
                                <input matInput formControlName="purchaseDate" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                    <div class="row padding-right-15">
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                             <mat-form-field>
                                <mat-label>Templates</mat-label>
                                <input matInput formControlName="templatesLimit" readonly>
                            </mat-form-field>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <mat-form-field>
                               <mat-label>Users</mat-label>
                               <input matInput formControlName="usersCount" readonly>
                           </mat-form-field>
                       </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                    <div class="row padding-right-15">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <mat-form-field>
                                <mat-label>Next Billing Date</mat-label>
                                <input matInput formControlName="billingDate" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                    <div class="row padding-right-15">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <mat-form-field>
                                <mat-label>Global Timezone</mat-label>
                                <input matInput formControlName="timeZone" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>