<div class="modal-dialog">
    <div class="theme">
        <div class="modal-content">
           <!--  <div class="modal-header">
                <div class="row vertical-center">
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="modal-title">Finish Handover</div>
                    </div>
                   
                </div>
            </div> -->
            <div class="modal-body">
                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                        Are you sure you want to finish current shift?
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding text-center">
                        <button type="submit" class="btn btn-save" (click)="onYesClick()">Yes</button>
                    <span>|</span>
                    <button type="button" class="btn" (click)="onNoClick()">No</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>