<div class="footer">
    <div class="row">
        <div class="col-sm-4">
            <a href="https://twitter.com/ihandover" target="_blank">
                <div class="circle circle-blue"></div>
            </a>
            <a href="https://www.linkedin.com/company/relayworks/" target="_blank">
                <div class="circle circle-brown"></div>
            </a>
        </div>
        <div class="col-sm-4">
            <div class="label center-block">© iHandover Ltd. {{currentYear}}</div>
        </div>
        <div class="col-sm-4">
            <div class="center-block"><a href="http://relayworks.io/" class="label link" target="_blank">relayworks.io</a></div>
        </div>
    </div>
</div>