<div clas="template-dialog">
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Delete Template</h4>
        <div class="dialog-actions" fxLayout="row" fxLayoutAlign="space-between right">
            <button mat-button mat-dialog-close (click)="onSave()" class="save-btn"
            [disabled]="templateForm.invalid" cdkFocusInitial>Delete</button>
            <button mat-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
<mat-dialog-content>
    <p>Are you sure you want to delete {{data.templateName}} ?</p>
</mat-dialog-content>