<div class="container">
    @if(selectedTemplate){
        <div Id="templatePanel" class="panel panel-primary">
            <div class="panel-heading clearfix">
                <span class="panel-title"> {{selectedTemplate.templateName}}</span>
            </div>
            <div class="report-panel">
                <div Id="section">
                    @for (section of sections; track section) {
                        <div class="panel-body grey-panel">
                            <div class="navbar navbar-blue">
                                <div class="navbar-inline">
                                    <span class="label">{{section.sectionName}}</span>
                                    @if(!section.iHandoverSection){
                                    <span class="editSection" (click)="editSectionDialog(section.sectionId)"></span>
                                    <span class="removeSection" (click)="deleteSectionDialog(section.sectionId)"></span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="navbar navbar-white">
                            <div class="navbar navbar-white">
                                <div type="button" class="btn-plus center-block">Add Topic</div>
                            </div>
                        </div>
                    }
                    <div class="panel-body grey-panel">
                        <div class="navbar navbar-blue"></div>
                    </div>
                    <div class="navbar navbar-white">
                        <div type="button" class="add-section center-block" (click)="createSectionDialog(selectedTemplate.templateId)">Add Section</div>
                    </div>
                </div>
            </div>
        </div>
     }
</div>

