<div class="container">
    @if(selectedTemplate){
        <div Id="templatePanel" class="panel panel-primary">
            <div class="panel-heading clearfix">
                <span class="panel-title"> {{selectedTemplate.name}}</span>
            </div>
            <div class="report-panel">
                <div Id="section">
                    @for (section of sections; track section; let i = $index) {
                        <div class="panel-body grey-panel">
                            <div class="navbar navbar-blue">
                                <div class="navbar-inline">
                                    <span class="label">{{section.name}}</span>
                                    @if(section.type == 2){
                                        <span class="editSection" (click)="editSectionDialog(section)"></span>
                                        <span class="removeSection" (click)="deleteSectionDialog(section)"></span>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="navbar navbar-white">
                            <div class="table-block">

                                <div class="table">
                                    <div class="headRow">
                                      <div class="actions-title">Actions</div>
                                      <div class="type-title">Topic</div>
                                      <div class="reference-title">Reference</div>
                                      <div class="notes-title">Notes</div>
                                    </div>
                                    <form [formGroup]="topicForm">
                                        <div class="rowTopicData" cdkDropList
                                        (cdkDropListDropped)="dropTopic($event,  section.sectionTopics, section)">
                    
                                        @for (topic of section.sectionTopics; track topic) {
                                            @if(topic.enabled)
                                            {
                                                <div class="divRow" cdkDrag cdkDragLockAxis="y" [cdkDragData]="topic">
                                                <div class="actions-body">
                                                    <div class="btn btn-circle draganddrop">
                                                        <mat-icon class="dragCursor">reorder</mat-icon>
                                                    </div>
                                                    <div class="btn btn-circle remove-btn"
                                                        matTooltip="Remove"
                                                        (click)="removeTopic(topic, section)"
                                                        [ngClass]="{'locked': topic.editing }">
                                                        <span class="glyphicon span"></span>
                                                    </div>
                                                    <div class="btn btn-circle edit-btn" 
                                                        matTooltip="Edit"
                                                        (click)="editTopic(topic)">
                                                        <span class="glyphicon span"></span>
                                                    </div>
                                                </div>
                                                <div class="type-body">
                                                    @if(topic.editing)
                                                    {
                                                        <div class="edit-type">
                                                            <mat-form-field calss="edit-topic">
                                                                <input matInput placeholder="Name"
                                                                        formControlName="topicName"
                                                                        (keydown.enter)="updateTopic(topic, section)">
                                                            </mat-form-field>
                                                        </div>
                                                    }
                                                    @else
                                                    {
                                                        <span>{{topic.name}}</span>
                                                    }
                                                 @if(expanded(topic)){
                                                    <mat-icon class="mat-icon-rtl-mirror"
                                                    (click)="topic.isExpand = !topic.isExpand">
                                                    {{topic.isExpand ? 'expand_more' : 'chevron_right'}}
                                                    </mat-icon>
                                                 }
                                                 
                                                </div>
                                                <div class="reference-body">
                                                  ({{getCountReferences(topic)}})
                                                </div>
                                                <div class="notes-body"></div>
                                                @if(topic.editing)
                                                {
                                                    <div class="buttons-body">
                                                    <div class="btn btn-circle cancel-btn" 
                                                        (click)="topic.editing = !topic.editing"
                                                        matTooltip="Cancel">
                                                            <span class="glyphicon span"></span>
                                                    </div>
                                                    <div type="button" class="btn btn-circle save-edit-btn"
                                                        (click)="updateTopic(topic, section)">Save</div>
                                                    </div>
                                                }
                                                </div>
                                                @if(topic.isExpand){
                                                    <div cdkDropList class="rowReferenceData"
                                                    (cdkDropListDropped)="dropReference($event, topic.templateReferences, section)">

                                                    @for(reference of topic.templateReferences; track reference){
                                                        @if(reference.enabled)
                                                        {
                                                            <div class="divTopicRow" cdkDrag cdkDragLockAxis="y" [cdkDragData]="reference">
                                                                <div class="actions-body">
                                                                    <div class="btn btn-circle draganddrop">
                                                                        <mat-icon class="dragCursor">reorder</mat-icon>
                                                                    </div>
                                                                    <div class="btn btn-circle remove-btn"
                                                                        matTooltip="Remove"
                                                                        (click)="removeReference(reference, topic)"
                                                                        [ngClass]="{'locked': reference.editing }">
                                                                        <span class="glyphicon span"></span>
                                                                    </div>
                                                                    <div class="btn btn-circle edit-btn"
                                                                        matTooltip="Edit"
                                                                        (click)="editReference(reference)">
                                                                        <span class="glyphicon span"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="type-body"></div>
                                                                <div class="reference-body tr-blue-text">
                                                                    @if(reference.editing)
                                                                    { 
                                                                        <div class="edit-type">
                                                                            <mat-form-field calss="edit-topic">
                                                                                <input matInput placeholder="Name"
                                                                                    formControlName="referenceName"
                                                                                    (keydown.enter)="updateReference(reference, topic)">
                                                                            </mat-form-field>
                                                                        </div>
                                                                    }
                                                                    @else
                                                                    {
                                                                        <span>{{reference.name}}</span>
                                                                    }
                                                                </div>
                                                                <div class="notes-body" (click)="expandNotes(reference)">
                                                                    @if(reference.expand != true){
                                                                        <div class="note-short">
                                                                            {{reference.description}}
                                                                        </div>
                                                                    }
                                                                    @if(reference.expand)
                                                                    {
                                                                        <span class="icon-text"></span>
                                                                            <div class="field-of-edit" (click)="reference.expand = true">
                                                                                <div class="change-note">
                                                                                    <textarea autfocus maxlength="1000" class="textarea-note"
                                                                                        #textArea
                                                                                        clickOutside
                                                                                        (clickOutside)="clickOutside(reference, topic, textArea.value)">{{reference.description}}</textarea>
                                                                                </div>
                                                                            </div>
                                                                    }
                                                                </div>
                                                                <div class="buttons-edit">
                                                                    @if(reference.editing)
                                                                    {
                                                                        <div class="btn btn-circle cancel-btn" 
                                                                            (click)="cancelReferenceEdit(reference)"
                                                                            matTooltip="Cancel">
                                                                                <span class="glyphicon span"></span>
                                                                        </div>
                                                                        <div type="button" class="btn btn-circle save-edit-btn"
                                                                            (click)="updateReference(reference, topic)">Save</div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                    </div>
                                                }
                                            }
                                        }
                    
                                        </div>
                                    </form> 
                                    
                                    <div #addRowElement class="addDataRow">
                                        <add-topic (dataEmitter)="toggleDiv(i)" [sectionOut]="section"></add-topic>
                                    </div>

                                    <div class="navbar navbar-white">
                                        <div type="button" class="btn-plus center-block" (click)="addHideRowTopicForm(i)">Add Topic</div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    }
                    <div class="panel-body grey-panel">
                        <div class="navbar navbar-blue"></div>
                    </div>
                    <div class="navbar navbar-white">
                        <div type="button" class="add-section center-block" (click)="createSectionDialog(selectedTemplate.id)">Add Section</div>
                    </div>
                </div>
            </div>
        </div>
     }
</div>

