<div class="report-panel">
    <div Id="section">
        <div *ngFor="let section of displayedSections; let i = index">
            <div class="panel-body grey-panel">
                <div class="navbar navbar-blue">
                    <div class="navbar-inline">
                        <span class="label" >{{section.name}}</span>
                        @if(section.type == 2 && !section.templateSection){
                            <span class="editSection" (click)="editSectionDialog(section)"></span>
                            <span class="removeSection" (click)="deleteSectionDialog(section)"></span>
                        }
                    </div>
                </div>
            </div>
        
        <div class="navbar navbar-white">
            <div class="table-block">
                <div class="table">
                    <div class="headRow">
                        <div class="actions-title">Actions</div>
                        <div class="type-title">Topic</div>
                        <div class="reference-title">Reference</div>
                        <div class="notes-title">Notes</div>
                    </div>  
                    <form [formGroup]="topicForm">
                        <div 
                            class="rowTopicData" 
                            cdkDropList
                            (cdkDropListDropped)="dropTopic($event,  section.topics, section)">
                            @for (topic of sortTopics(section.topics); track topic) {
                                @if(topic.enabled){
                                <div class="divRow" cdkDrag cdkDragLockAxis="y" [cdkDragData]="topic">
                                    <div class="actions-body">
                                        <div class="btn btn-circle draganddrop" 
                                            [ngClass]="{'locked': topic.editing }"
                                            matTooltip="Reorder">
                                            <mat-icon class="dragCursor">reorder</mat-icon>
                                        </div>
                                        @if(topic.whitePin){
                                            <div 
                                                [ngClass]="topic.checked ? 'checked-topic' : 'unchecked-topic'" 
                                                class="btn btn-circle" 
                                                [matTooltip]="topic.checked ? 'Uncheck' : 'Check'"
                                                (click)="checkedTopic(topic, section)">
                                                    <span class="glyphicon span"></span>
                                            </div>
                                        }
                                        @else
                                        {
                                            <div class="btn btn-circle remove-btn" matTooltip="Remove"
                                            [ngClass]="{'locked': topic.editing }"
                                            (click)="removeTopic(topic, section)">
                                                <span class="glyphicon span"></span>
                                            </div>
                                        }
                                        @if(topic.whitePin)
                                        {
                                            <div class="btn btn-circle white-pin" matTooltip="Pinned">
                                                <span class="glyphicon span"></span>
                                            </div>
                                        }
                                        @else
                                        {
                                            <div 
                                                class="btn btn-circle edit-btn" 
                                                matTooltip="Edit" 
                                                (click)="editTopic(topic)">
                                                    <span class="glyphicon span"></span>
                                            </div>

                                            <div 
                                                [ngClass]="topic.isPinned ? 'active-pin' : 'inactive-pin'" 
                                                class="btn btn-circle"
                                                [matTooltip]="topic.isPinned ? 'UnPin' : 'Pin'"
                                                (click)="topicPinned(topic, section)">
                                                    <span class="glyphicon span"></span>
                                            </div>
                                        }
                                    </div>
                                    <div class="type-body">
                                        @if(topic.editing)
                                        {
                                            <input matInput placeholder="Topic"
                                                formControlName="topicName"
                                                (keydown.enter)="updateTopic(topic, section)">
                                        }
                                        @else
                                        {
                                            <span>{{topic.name}}</span>
                                        }

                                        @if(expanded(topic))
                                        {
                                            <mat-icon class="mat-icon-rtl-mirror"
                                                    (click)="expandTopic(topic)">
                                                {{topic.isExpand  ? 'expand_more' : 'chevron_right'}}
                                            </mat-icon>
                                        }
                                    </div>
                                    <div class="reference-body">
                                        ({{getCountReferences(topic)}})
                                    </div>
                                    <div class="notes-body"></div>
                                        @if(topic.editing)
                                        {
                                            <div class="buttons-body">
                                            <div class="btn btn-circle cancel-btn" 
                                                (click)="topic.editing = !topic.editing"
                                                matTooltip="Cancel">
                                                    <span class="glyphicon span"></span>
                                            </div>
                                            <div type="button" class="btn btn-circle save-edit-btn"
                                                (click)="updateTopic(topic, section)">Save</div>
                                            </div>
                                        }
                                    </div>
                                    @if(topic.isExpand)
                                    {
                                        <div cdkDropList class="rowReferenceData"
                                            (cdkDropListDropped)="dropReference($event, topic.rotationReferences, section)">

                                            @for(reference of sortRotationReferences(topic.rotationReferences); track reference)
                                            {
                                                @if(reference.enabled)
                                                {
                                                    <div class="divTopicRow"
                                                        cdkDrag 
                                                        cdkDragLockAxis="y" 
                                                        [cdkDragData]="reference">
                                                            <div class="actions-body">
                                                                <div class="btn btn-circle draganddrop">
                                                                    <mat-icon class="dragCursor">reorder</mat-icon>
                                                                </div>
                                                                @if(reference.whitePin)
                                                                {
                                                                    <div [ngClass]="reference.checked ? 'checked-topic' : 'unchecked-topic'" 
                                                                        class="btn btn-circle"
                                                                        [matTooltip]="topic.checked ? 'Uncheck' : 'Check'"
                                                                        (click)="checkedReference(reference, topic)">
                                                                            <span class="glyphicon span"></span>
                                                                    </div>

                                                                    <div class="btn btn-circle white-pin" matTooltip="Pinned">
                                                                        <span class="glyphicon span"></span>
                                                                    </div>
                                                                }
                                                                @else
                                                                {
                                                                    <div class="btn btn-circle remove-btn" matTooltip="Remove"
                                                                        (click)="removeReference(reference, topic, section)">
                                                                            <span class="glyphicon span"></span>
                                                                    </div>
                                            
                                                                    <div class="btn btn-circle edit-btn"
                                                                        (click)="editReference(reference)" matTooltip="Edit">
                                                                            <span class="glyphicon span"></span>
                                                                    </div>

                                                                    <div [ngClass]="reference.isPinned ? 'active-pin' : 'inactive-pin'" 
                                                                        class="btn btn-circle"
                                                                        [matTooltip]="topic.isPinned ? 'UnPin' : 'Pin'"
                                                                        (click)="pinnedReference(reference, topic)">
                                                                            <span class="glyphicon span"></span>
                                                                    </div>
                                                                }
                                       
                                                            </div>
                                                            <div class="type-body"></div>
                                                            <div class="reference-body tr-blue-text">
                                                                @if(reference.editing)
                                                                {
                                                                    <input class="edit" matInput placeholder="Name"
                                                                                formControlName="referenceName"
                                                                                (keydown.enter)="updateReference(reference, topic)">

                                                                }
                                                                @else
                                                                {
                                                                    <span>{{reference.name}}</span>
                                                                }
                                                            </div>
                                                            <div class="notes-body" (click)="expandNotes(reference)">
                                                                @if(reference.expand)
                                                                {
                                                                    <div class="notes">
                                                                        <span class="icon-text"></span>
                                                                        <div class="field-of-edit" (click)="reference.expand = true">
                                                                            <div class="change-note">
                                                                                @if(reference.templateDescription){
                                                                                    <div class="template-note text-grey-notes" disabled>Template notes: {{reference.templateDescription}}</div>
                                                                                }
                                                                                <textarea autofocus maxlength="1000" class="textarea-note"
                                                                                    #textArea
                                                                                    clickOutside
                                                                                    (clickOutside)="clickOutside(reference, topic, textArea.value)">{{reference.description}}</textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                @else{
                                                                    <div class="note-short">
                                                                        @if(reference.templateDescription){
                                                                            {{reference.templateDescription}}
                                                                        }
                                                                        @else{
                                                                            {{reference.description}}
                                                                        }
                                                                    </div>
                                                                }
                                                            </div>
                                                            <div class="buttons-edit">
                                                                @if(reference.editing)
                                                                {
                                                                    <div class="btn btn-circle cancel-btn" 
                                                                        (click)="cancelReferenceEdit(reference)"
                                                                        matTooltip="Cancel">
                                                                            <span class="glyphicon span"></span>
                                                                    </div>
                                                                    <div type="button" class="btn btn-circle save-edit-btn"
                                                                        (click)="updateReference(reference, topic)">Save</div>
                                                                }
                                                            </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    }
                                }
                             }
                        </div>
                   </form> 
                   
                    <div #addRowElement class="addDataRow">
                        <add-topic (dataEmitter)="toggleDiv(section, i)" (sectionUpdated)="onSectionUpdated($event, i)" [section]="section"></add-topic>
                    </div>

                    <div class="navbar navbar-white">
                        <div type="button" class="btn-plus center-block" (click)="toggleDiv(section,i)">Add Topic</div>
                    </div>
                </div>
            </div>
        </div> 
        </div>
        <div class="panel-body grey-panel">
            <div class="navbar navbar-blue"></div>
        </div>
        <div class="navbar navbar-white">
            <div type="button" class="add-section center-block" (click)="createSectionDialog()">Add Section</div>
        </div>
    </div>
</div>