@if(isAuth){
  <mat-toolbar>
      <div class="col col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <a href="\" class="logo"></a>
      </div>
      <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
        <div id="icon-container" (click)="getProfileDialog()">
          <div id="name">{{ getProfileName() }}</div>
        </div> 
      </div>
  </mat-toolbar>
}

<mat-menu #menu="matMenu">
  @if(isAdmin){
    <button mat-menu-item class="menu-btn" routerLink="/my-team">
      <span>My Team</span>
    </button>
    <button mat-menu-item class="menu-btn" routerLink="/admin-panel">
        <span>Admin Panel</span>
    </button>
    <button mat-menu-item class="menu-btn">
      <span>Reports</span>
    </button>
  }
  @else{
    <button mat-menu-item routerLink="/my-handover">
      <span>My Handover</span>
    </button>
    <button mat-menu-item class="menu-btn">
      <span>Reports</span>
    </button>
  }
  <button mat-menu-item class="menu-btn" (click)="logOut()">
    <span>Log Out</span>
  </button>
</mat-menu>

<router-outlet></router-outlet> 
@if(isAuth){
<footer></footer>
}