@if(isAuth){
  <mat-toolbar>
      <div class="col col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <a href="\" class="logo"></a>
      </div>
      <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
        <div id="icon-container" (click)="getProfile()">
          <div id="name">{{ getFullName() }}</div>
        </div> 
      </div>
  </mat-toolbar>
}

<mat-menu #menu="matMenu">
  @if(admin){}
    <button #menuItem mat-menu-item (click)="navigateToPage('/my-handover', $event)">
      <span>My Handover</span>
    </button>
    <button mat-menu-item class="menu-btn" routerLinkActive="active" (click)="navigateToPage('/my-team', $event)">
      <span>My Team</span>
    </button>
    <button mat-menu-item class="menu-btn" (click)="navigateToPage('/admin-panel', $event)">
        <span>Admin Panel</span>
    </button>
    <button mat-menu-item class="menu-btn">
        <span>Reports</span>
      </button>
    <button  mat-menu-item class="menu-btn" (click)="navigateToPage('/sign-in', $event)">
      <span>Log Out</span>
    </button>
</mat-menu>

<router-outlet></router-outlet> 
