<div class="modal-dialog">
    <div class="theme">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row vertical-center">
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="modal-title">Delete Section</div>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                        <button type="submit" class="btn btn-save" (click)="onSave()">Delete</button>
                        <button type="button" mat-dialog-close aria-hidden="true" class="btn btn-close"></button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                        <p>Are you sure you want to delete <strong>{{data.sectionName}}</strong>?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>