<div class="rowTopicData">
    <div class="divRow">
       

        <form [formGroup]="addTopicForm" class="add-topic-form">
            <div class="actions-body">
                <div class="btn btn-circle draganddrop"></div>
                <div class="btn btn-circle remove-btn" 
                     matTooltip="Cancel"
                    (click)="closeNewLine()">
                        <span class="glyphicon span"></span>
                </div>
            </div>
            <div class="type-body">
            <mat-form-field class="example-full-width">
                <mat-select formControlName="topic" placeholder="Select Topic" (selectionChange)="onSelectAddTopic($event)">
                    @for (topic of section.topics; track topic) {
                        <mat-option [value]="topic">{{topic.name}}</mat-option>
                    }
                  </mat-select>

              </mat-form-field>
            </div>
            <div class="reference-body">
          <mat-form-field class="example-full-width">
            <input
            type="text"
            placeholder="Select/Add Reference"
            matInput
            formControlName="referenceName"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
          [displayWith]="displayRefFn" (optionSelected)="onSelectAddReference($event)">
              @for (reference of references; track reference) {
                  <mat-option [value]="reference">{{reference.name}}</mat-option>
              }
          </mat-autocomplete>
          </mat-form-field>
            </div>
            <div class="add-notes-body">
          <mat-form-field class="example-full-width">
              <textarea matInput
                    cdkTextareaAutosize
                    placeholder="Notes"
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    formControlName="description" 
                    cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field>
            </div>
            <div class="intel-body">
            <button type="button" 
                    class="inline-add-btn" 
                    trigger="hover focus" 
                    side="top" 
                    delay="1000"
                    (click)="addTopic()">
                Add
            </button>
            </div>
        </form>

    </div>
</div>