<div class="modal-dialog">
    <div class="theme">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row vertical-center">
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="modal-title">Handover Recipient</div>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                        <button type="submit" class="btn btn-save" (click)="onSave()">Save</button>
                        <button type="button" mat-dialog-close class="btn btn-close"></button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                        <div class="handover-recipients-title">Select another user to handover to today</div>
                        <div class="handover-recipients-container">
                            @if (teamMembers.length > 0)
                            {
                                <div class="swiper-container recipients-container swiper-container-vertical">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            @for (teamMember of teamMembers; track teamMember)
                                            {
                                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div class="recipient-block"
                                                        [ngClass]="teamMember.selected ? 'active': 'inactive'" 
                                                        (click)="selectMember(teamMember)">
                                                        <div class="icon-container">
                                                            <div class="name">{{ getLettersIcon(teamMember.ownerName) }}</div>
                                                        </div> 
                                                        <div class="user-name">{{teamMember.ownerName}}</div>
                                                        @if(teamMember.selected){
                                                            <div class="check-icon"></div>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="handover-recipients-swiper-prev"></div>
                                <div class="handover-recipients-swiper-next"></div>
                            }
                            @else
                            {
                                <div class="no-handover-recipient">
                                    No any recipients
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>