<div class="modal-dialog">
    <div class="theme">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row vertical-center">
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="modal-title">Handover Recipient</div>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                        <button type="submit" class="btn btn-save" (click)="onSave()">Save</button>
                        <button type="button" mat-dialog-close class="btn btn-close"></button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                        <div class="handover-recipients-title">Select another user to handover to today</div>
                        <div class="handover-recipients-container">
                            <div *ngIf="hasUsers$ | async; else noItems">
                                <div class="swiper-container recipients-container swiper-container-vertical">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div *ngFor="let user of users$ | async; let i = index">
                                                <div class="recipient-block"
                                                    [ngClass]="{ 'active': activeIndex === i, 'inactive': activeIndex !== i }"
                                                    (click)="selectMember(user, i)">
                                                    <div class="icon-container">
                                                        <div class="name">{{ getLettersIcon(user) }}</div>
                                                    </div> 
                                                    <div class="user-name">{{user.firstName}} {{user.lastName}}</div>
                                                    <div class="check-icon" *ngIf="activeIndex === i"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="handover-recipients-swiper-prev"></div>
                                <div class="handover-recipients-swiper-next"></div>
                            </div>
                            <ng-template #noItems>
                                <div class="no-handover-recipient">
                                    No any recipients
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>