<div class="container">
    <div class="button-row">
        <button mat-stroked-button class="btn-add-topic" (click)="addTemplateTopic()">Add Topic</button>
    </div>
    <ag-grid-angular  class="ag-theme-quartz" 
                     [rowData]="rowData"
                     [columnDefs]="colDefs"
                     [pagination]="true"
                     [paginationPageSizeSelector]="paginationPageSizeSelector"
                     [paginationPageSize]="paginationPageSize"
                     [alwaysShowHorizontalScroll]="false">
    </ag-grid-angular> 

