<div class="app-template-topic container">
    <div class="button-row">
        <button mat-stroked-button class="btn-add-topic" (click)="addTemplateTopic()">Add Topic</button>
    </div>
    <ag-grid-angular class="ag-theme-quartz" #agGrid
                     [rowData]="topicsData"
                     [columnDefs]="colDefs"
                     [pagination]="true"
                     [detailRowAutoHeight]="true"
                     [paginationPageSizeSelector]="paginationPageSizeSelector"
                     [paginationPageSize]="paginationPageSize"
                     [alwaysShowHorizontalScroll]="false"
                     [overlayNoRowsTemplate]="noRowsDisplay">
    </ag-grid-angular> 
</div>