<h4 mat-dialog-title>Crete Section</h4>
<mat-dialog-content>
    <form [formGroup]="sectionForm">
        <mat-form-field>
            <mat-label>Section Name:</mat-label>
            <input matInput formControlName="sectionName">
            @if(sectionForm.get('sectionName').hasError('required')){
            <mat-error>Section Name is required</mat-error>
            }
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button (click)="onSave()" [disabled]="sectionForm.invalid" cdkFocusInitial>
        Create
    </button>
</mat-dialog-actions>