<div class="modules">
    @for (section of sectionsOut; track section) {
        <div class="module-block">
            <span class="module-title">{{section.name}}</span>
            <div class="row no-margin">
                @for (topic of section.topics; track topic)
                {
                    @for(reference of topic.rotationReferences; track reference)
                    {
                        <div class="topic-body">
                            <div class="action">
                               @if (topic.isPinned)
                               {
                                   <div class="topic-icon blue-pin"></div>
                               }
                               @else
                               {
                                   @if (topic.whitePin)
                                   {
                                       <div 
                                           [ngClass]="topic.checked ? 'topic-icon checked-topic' : 'topic-icon white-pin'" 
                                           class="btn btn-circle">
                                               <span class="glyphicon span"></span>
                                       </div>
                                   }
                                   @else
                                   {
                                       <div class="topic-icon grey-pin"></div>
                                   }
                               }
                           </div>
    
                           <div class="topic-name">{{topic.name}}</div> 
                           <span>|</span>
                           <div class="topic-reference">{{reference.name}}</div>
                           <div class="description">{{reference.description}}</div>
                           @if(reference.templateDescription){
                                <div class="description">{{reference.templateDescription}}</div>
                           }
                       </div>
                    }
                    
                }
            </div>
        </div>
    }
</div>