/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

html, body {
    height: 100%;
}

body {
  margin: 0;
  background-color: rgba(180, 180, 180, .4) !important;
  position: relative;
  font-family: "Proxima-Nova-Regular" !important;
}

.mat-mdc-text-field-wrapper{
  background-color: white;
}

.mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
  border-color: #0096C8 !important;
}

.mat-label{
  color: #0096C8;
}
