/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    height: 100%;
}

body {
  margin: 0;
  background-color: rgba(180, 180, 180, .4) !important;
  position: relative;
  font-family: "Proxima-Nova-Regular" !important;
}

.mat-mdc-text-field-wrapper{
  background-color: white;
}

.mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
  border-color: #0096C8 !important;
}

.mat-label{
  color: #0096C8;
}

.mat-mdc-option .mdc-list-item__primary-text{
  font-family: "Proxima-Nova-Regular";
    word-wrap: break-word;
    letter-spacing: normal;
    font-size: 16px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.ag-header-cell{
  color: #0096C8;
}