<div class="container app-my-team">
    @if(teamRotations.length > 0){
        <div class="row panels-block">
        @for (teamRotation of teamRotations; track teamRotation) {
            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="row panels">
                    <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding padding-row">
                        <div class="user-photo">
                            <div class="user-photo-img">
                                @if(teamRotation.contributors != null){
                                    <div class="contributes-icon" 
                                        [matTooltip]="contributorsInfo(teamRotation)"
                                        matTooltipClass="contributes-tooltip"></div>
                                }
                                <div id="name">{{ getLetters(teamRotation) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="user-data col col-lg-7 col-md-7 col-sm-7 col-xs-7 padding-row">
                        <div class="row no-margin">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="row no-margin user-contact">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                        <div class="user-block">
                                            <strong class="user-name">{{teamRotation.ownerName}}</strong>
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-margin user-contact">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                        <div class="user-email">
                                            <div class="user-detail">{{teamRotation.ownerEmail}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-margin user-contact">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                        <div class="user-position">
                                           <!--  {{teamRotation.ownerRole}} -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="row no-margin user-container">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                        <div class="handover">Handover to:</div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                        <div id="icon-container">
                                            <div id="name">{{ getLetters(teamRotation) }}</div>
                                        </div>
                                        <div class="edit-user" (click)="hadoverInfo(teamRotation)"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    }
    @else{
        <div class="text-center message-block">
            You have no users in your team.
        </div>
        
    }
</div>
