<div class="container app-my-handover">

    @if(this.viewerId){
        <view-user-panel [viewerId]="viewerId"></view-user-panel>
    }
    

@if(handover != null) {

    <div Id="templatePanel" class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="handover-title">
                <span class="title">Handover Report</span>
            </div>
            <div class="report-builder-controls">
                @if(handover) {
                    <div 
                        type="button" 
                        [ngClass]="handover.shareEmails || handover.shareUsers ? 'share-report-icon-active' : 'share-report-icon-inactive'"
                        class="btn-circle btn btn-link col-lg-1 col-md-1 col-xs-1 no-padding" 
                        [matTooltip]="shareUserInfo()"
                        (click)="shareReport()">
                        @if(handover.shareEmails){
                            @if(handover.shareEmails.length > 0 || handover.shareUsers.length > 0){
                                <div class="count">{{countShare}}</div>
                            }
                        }
                        
                    </div>
                    <button type="button" class="finish-rotation btn-circle btn btn-link tooltipster" 
                            matTooltip="Finish Report"
                            (click)="finishShift(handover)">
                        <span class="glyphicon span"></span>
                    </button>
                    <button type="button" class="report-preview-pdf btn-circle btn btn-link tooltipster" matTooltip="PDF Report Preview"
                        (click)="reportPreview(handover)">
                            <span class='glyphicon span'></span>
                    </button>
                    <button type="button" [ngClass]="handover.reportComments ? 'active-report-comments' : 'inactive-report-comments'" 
                    class="btn-circle btn btn-link tooltipster" matTooltip="View Report Comments" (click)="reportComments()">
                        <span class='glyphicon span'></span>
                    </button>
                }
                @else{
                    <div class="start-handover" (click)="startShift()">
                       Start New Handover
                    </div>
                }
                
            </div>
        </div>
        @if(handover){
        <div class="panel-body main-panel">
            <div class="navbar navbar-brown navbar-white">
                <div class="row-block col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="date-block">
                        {{handover.endDateTime}}
                    </div>
                    <div class="from-to-block">
                        <div class="icon-container" [matTooltip]="owner?.firstName + ' ' + owner?.lastName">
                           <div class="name"> {{ getOwnerInitials() }}</div>
                        </div>

                        <div class="arrow-left">&#10230;</div>
                         <div class="icon-container" [matTooltip]="recipient?.firstName + ' ' + recipient?.lastName">
                            <div class="name">{{ userInitials }}</div>
                        </div>
                    </div>
                    <div class="recipient-block" matTooltip="Edit Recipient" (click)="handoverRecipient()"></div>
                    <div class="dates-block" matTooltip="Edit Dates" (click)="handoverDates()"></div>
                </div>

                <div class="row-block col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="draft-btn">
                        Draft
                    </div>
                </div>

                <div class="row-block col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="expand-btn"  (click)="expandCollapseItems($event)">
                        Expand All
                    </div>
                </div>

            </div>
        </div>
        <ng-container *ngIf="sections">
            <topic  [handover]="handover" [sections]="sections" [expandAll]="expandAll"></topic>
          </ng-container>
        }
        @else{
            <div class="message-block font-weight">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-20">
                    To start a new handover, select the 'Start New Handover' button.
                </div>
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    You can see the previous report in the Reports tab.
                </div>
              
            </div>
        }
    </div>
}
@else{
   <div class="panel panel-default text-center margin-top-40">
        <div class="panel-body message">
            <div class="row">
                <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center">

                    <div class="row">
                        <div class="col col-lg-8 col-sm-8 col-md-8 col-xs-8">
                            <span class="title">
                                Click the button on the right to start first handover.
                            </span>
                        </div>
                        <div class="col col-lg-4 col-sm-4 col-md-4 col-xs-4">
                            <span class="start-new-handover" (click)="startShift()">Start New Handover</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
}
</div>