<div class="container app-my-handover">

 <!-- set condition for view this panel -->
<view-user-panel [ownerHandoverName]="owner.ownerName"></view-user-panel>

@if(handover) {
    <div Id="templatePanel" class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="handover-title">
                <span class="title">Handover Report</span>
            </div>
            <div class="report-builder-controls">
                @if(handover.liveRotation) {
                    <div 
                        type="button" 
                        [ngClass]="handover.shareEmails || handover.shareUsers ? 'share-report-icon-active' : 'share-report-icon-inactive'"
                        class="btn-circle btn btn-link col-lg-1 col-md-1 col-xs-1 no-padding" 
                        [matTooltip]="shareUserInfo()"
                        (click)="shareReport()">
                        @if(handover.shareEmails.length > 0 || handover.shareUsers.length > 0){
                            <div class="count">{{countShare}}</div>
                        }
                    </div>
                    <button type="button" class="finish-rotation btn-circle btn btn-link tooltipster" matTooltip="Finish Report">
                        <span class="glyphicon span"></span>
                    </button>
                    <button type="button" class="report-preview-pdf btn-circle btn btn-link tooltipster"  matTooltip="PDF Report Preview">
                        <span class='glyphicon span'></span>
                    </button>
                    <button type="button" [ngClass]="handover.reportComments ? 'active-report-comments' : 'inactive-report-comments'" 
                    class="btn-circle btn btn-link tooltipster" matTooltip="View Report Comments" (click)="reportComments()">
                        <span class='glyphicon span'></span>
                    </button>
                }
                @else{
                    <div class="start-handover">
                       Start New Handover
                    </div>
                }
                
            </div>
        </div>
        <div class="panel-body main-panel">
            <div class="navbar navbar-brown navbar-white">
                <div class="row-block col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="date-block">
                        {{handover.endDate}}
                    </div>
                    <div class="from-to-block">
                        <div class="icon-container" [matTooltip]="getNameByUserId(handover.ownerId)">
                            <div class="name"> {{ getLettersIcon(handover.ownerId) }}</div>
                        </div>
                        <div class="arrow-left">&#10230;</div>
                         <div class="icon-container" [matTooltip]="getNameByUserId(handover.recipientId)">
                            <div class="name"> {{ getLettersIcon(handover.recipientId) }}</div>
                        </div>
                    </div>
                    <div class="recipient-block" matTooltip="Edit Recipient" (click)="setRecipient()"></div>
                    <div class="dates-block" matTooltip="Edit Dates" (click)="editDates()"></div>
                </div>

                <div class="row-block col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="draft-btn">
                        Draft
                    </div>
                </div>

                <div class="row-block col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="expand-btn"  (click)="expandCollapseItems($event)">
                        Expand All
                    </div>
                </div>

            </div>
        </div>
        <topic [handoverOut]="handover"></topic>
    </div>
}
@else{
   <div class="panel panel-default text-center margin-top-40">
        <div class="panel-body message">
            <div class="row">
                <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center">

                    <div class="row">
                        <div class="col col-lg-8 col-sm-8 col-md-8 col-xs-8">
                            <span class="title">
                                Click the button on the right to start first handover.
                            </span>
                        </div>
                        <div class="col col-lg-4 col-sm-4 col-md-4 col-xs-4">
                            <span class="start-new-handover" (click)="startHandover()">Start New Handover</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
}
</div>

