.container {
    min-height: calc(100vh - 180px);

    #viewUserPanel {
      border: none;
    }

    .margin-top-40 {
      margin-top: 40px;
    }

    .text-center {
      text-align: center;
  }

    .panel {
      margin-bottom: 20px;
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
      box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

      .message {
        padding: 15px;

        .title{
          float: right;
        }
      }

      .start-new-handover{
        padding: 4px 17px;
        border-radius: 15px;
        color: #464646;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        float: right;
        background-color: #F0F0F0;

        &:hover{
          background-color: #D0D0D0;
       }
      }
    }

    .user-panel {
      margin-bottom: 20px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

      .panel-body {
        padding: 15px;
          .vertical-center {
            display: flex;
            align-items: center;
        }

        .text {
          border: none;
          background: 0 0;
          color: #b4b4b4;
          font-weight: 700;
        }

        .title {
          display: inline;
          font-size: 16px;
          font-weight: 700;
          color: #464646;
        }

        .exit-rotation-btn {
          float: right;
          text-decoration: none;
          cursor:pointer;
          border: none;
          background: 0 0;
          color: #b4b4b4;
          font-weight: 700;

          &:hover{
            background-color: #D0D0D0;
            border: 1.5px solid #D0D0D0;
         }
       }
      }
    }

    .mat-tab-group {
        margin-bottom: 48px;
    }

    .btnTemplate {
        background-color: white !important;
        border-color: #0096C8 !important;
        margin-left: 20px;
        margin-top: 10px;
    }

    .navbar-white {
      position: relative;
      background-color: #fff;
      color: #464646;
      border-bottom: #F0F0F0 solid 1.5px;
    }

  .navbar-brown {
    border: none;
    border-radius: 0;
    padding: 10px 0;
    min-height: 40px;
    margin: 0;
    display: block;

    .row-block{
      display: inline-block;

      .col{
        display: inline-block;
      }

      .expand-btn{
        padding: 2px 0px;
        text-align: center;
        background-color: #F0F0F0;
        width: 110px;
        border: 1.5px solid #F0F0F0;
        border-radius: 15px;
        color: #464646;
        font-size: 14px;
        cursor: pointer;
        float: right;
        margin-right: 10px;
        text-align: center;
        font-weight: 700;

        &:hover{
           background-color: #D0D0D0;
           border: 1.5px solid #D0D0D0;
        }

      }

      .draft-btn{
        text-align: center;
        background-color: #0096C8;
        padding: 2px 0px;
        width: 120px;
        border: 1.5px solid #0096C8;
        border-radius: 15px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        margin: 0 auto;
      }

      .date-block{
        display: inline-block;
        width: 150px;
        padding-left: 10px;
        border-right: 2px solid #DBDBDB;
      }
      
      .recipient-block{
        background-image: url("/assets/img/pencil_dark.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        cursor: pointer;
        display: inline-block;
        margin: 5px 0 0 10px;
        position: absolute;

        &:hover{
          opacity:0.8;
        }
      }

      .dates-block{
        background-image: url("/assets/img/calendar_edit.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        display: inline-block;
        position: absolute;
        margin: 2px 0 0 40px;
      }

      .from-to-block{
        padding-left: 10px;
        display: inline-block;

        .arrow-left{
          display: inline-block;
          font-size: 16px;
          font-weight: 700;
          padding: 5px;
          width: 30px;
          vertical-align: top;
        }

        .icon-container {
          display: inline-block;
          margin-left: auto;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-position: 1px 0;
          background: #464646;
          cursor: pointer;
        }
        .name {
          margin-top: 3px;
          width: 100%;
          text-align: center;
          color: white;
          font-size: 12px;
        }
      }
    }
  }

  .no-margin {
    margin: 0 !important;
  }
  .left-block{
    text-align: left !important;
  }

  .padding-left-15{
    padding-left: 15px !important;
  }

  .padding-20{
    padding: 20px !important;
  }

  .no-padding {
    padding: 0 !important;
}
    #templatePanel {
        border: 1px solid #b4b4b4;
        margin-top: 20px;
        border-radius: 6px;

        .panel-heading {
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
          background-color: #fff;
          color: #464646;
          text-align: center;
          border-bottom: #F0F0F0 solid 1.5px;
          padding: 8px 10px;
          position: relative;
          min-height: 44px;


            .clearfix {
                padding: 8px 10px;
            }

            .handover-title {
              text-align: center;
              display: inline-block;
              width: 100%;
              height: auto;

              .title{
                display: inline-block;
                position: initial;
                width: fit-content;
                max-width: 390px;
                border: none;
                text-align: center;
                word-wrap: break-word;
                top: 10px;
                left: 35px;
                font-family: Proxima-Nova-Regular;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 16px;
                color: inherit;
                min-width: 50px;
                padding: 5px 15px 5px 10px;
              }
            }

            .panel-title {
                position: initial;
                display: inline-block;
                width: fit-content;
                text-align: center;
                word-wrap: break-word;
                font-weight: 700;
                font-size: 16px;
                color: inherit;
            }
        }

        .report-builder-controls{
          display: inline-block;
          position: absolute;
          top: 9px;
          right: 10px;

          .btn-circle {
            display: inline-block;
            width: 27px;
            height: 27px;
            top: 0;
            margin: 2px;
            cursor: pointer;
          }

          .share-report-icon-inactive {
            background-image: url("/assets/img/share-report-inactive.svg");
            border: none;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
          }

          .share-report-icon-active {
            border: none;
            background-repeat: no-repeat;
            width: 27px;
            height: 27px;
            background-image: url("/assets/img/share-report-active.svg");

            .count {
              padding-left: 1px;
              text-align: center;
              height: 15px;
              width: 15px;
              display: block;
              color: #fff;
              font-size: 10px;
              position: absolute;
              letter-spacing: 1px;
              font-weight: 700;
              background-color: #F29105;
              border-radius: 50%;
              margin-left: 17px;
              margin-top: -3px;
          }
        }

          .finish-rotation {
            background-image: url("/assets/img/finish-rotation.svg");
            border: none;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
          }

          .start-handover{
            padding: 5px;
            text-align: center;
            background-color: #F0F0F0;
            width: 150px;
            border: 1.5px solid #F0F0F0;
            border-radius: 15px;
            color: #464646;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            font-weight: 700;
            display: inline-block;

            &:hover{
              background-color: #D0D0D0;
              border: 1.5px solid #D0D0D0;
            }

          }

          .report-preview-pdf{
            background-image: url("/assets/img/report-preview-pdf.svg");
            border: none;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
          }

          .active-report-comments{
            background-image: url("/assets/img/active-report-comments.svg");
            border: none;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
          }

          .inactive-report-comments{
            background-image: url("/assets/img/inactive-report-comments.svg");
            border: none;
            background-repeat: no-repeat;
            width: 27px;
            height: 27px;
          }
        }
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled){
      background-color: white !important; 
    }
    
    .mat-mdc-button-persistent-ripple::before {
      background-color: white !important;
    }
    
    .mat-mdc-button::before {
      background-color: white !important;
    }
    
    .mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align {
      display: none;
    }
    
    .mat-mdc-form-field-focus-overlay{
      background-color: white !important;
    }

    .mat-mdc-form-field-infix{
      padding-bottom: 10px !important;
    }

    .mat-mdc-form-field{
      width: 100%;
    }
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.divRow:last-child {
  border: none;
}

.rowTopicData.cdk-drop-list-dragging .divRow:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.message-block {
  text-align: center;
  height: 120px;
  font-size: 20px;
}

.font-weight{
  font-weight: 700;
}

.header-tabs{
  .mat-mdc-tab-label-container {
      flex-grow: 1;
      background-color: whitesmoke;
      border-top: 1px solid rgba(180,180,180,.4);
  }
  }