<div class="location-dialog">

    <div class="header">
        <h4 mat-dialog-title>Delete Role</h4>
        <mat-dialog-actions>
        <button mat-button mat-dialog-close class="close-btn"></button>
        <button mat-button  class="save-btn"
            (click)="onSave()" 
            [disabled]="roleForm.invalid" 
            cdkFocusInitial>
            Delete</button>
        </mat-dialog-actions>
    </div>

    <div mat-dialog-content>
        <p>Are you sure you want to delete role <strong>{{data.roleName}}</strong>?</p>
    </div>
</div>